# Workspace ownership
* @vrxj81

# Package ownership
/packages/js/ @vrxj81
/packages/typeorm/ @vrxj81
/packages/governance/ @vrxj81

# End-to-end ownership
/packages/js-e2e/ @vrxj81
/packages/typeorm-e2e/ @vrxj81
/packages/governance-e2e/ @vrxj81
